<!--<app-recipe-item></app-recipe-item>-->

<div class="row">

  <div class="row">
    <a href="#" class="list-group-item clearfix" *ngFor="let r of recipes ">
      <div class="float-start">
        <h4 class="list-group-item-heading" [innerText]="r.name"></h4>
        <small>{{r.description}}</small>
      </div>
      <picture class="">
      <span class="float-end">
        <img class="" src={{r.imagePath}} alt="" class="img-fluid">
      </span>
      </picture>

    </a>
    <app-recipe-item></app-recipe-item>
  </div>
  <div class="col xs-12">
    <button class="btn btn-success">
      New Recipe
    </button>
  </div>
</div>
